<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
    <add key="ida:Tenant" value="harishbamelaoutlook.onmicrosoft.com" />
    <add key="ida:ClientId" value="01898d6c-2563-493b-878a-7cdfa7e09309" />
    <add key="todo:TodoListResourceId" value="https://harishbamelaoutlook.onmicrosoft.com/TodoListServices" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="todo:TodoListBaseAddress" value="https://todolistservice20170306121203.azurewebsites.net/" />
    <!--<add key="todo:TodoListBaseAddress" value="https://localhost:44321/" />-->
</appSettings>
</configuration>